# Python
__pycache__/
*.pyc
*.pyo
*.pyd

.eenv/
eenv/
.model/
model/
# OS/editor
.DS_Store
.vscode/
engineering.db
chroma_db/
chroma_db_storage/
venv/
chroma_db/
engineering.db
__pycache__/
.cache/
data/*.pdfcurriculum/merged_output.pdf
